/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Shantell+Sans:wght@500&display=swap');

.container{
  width: 120rem;
  height: 25rem;
  background-color: aliceblue;
  display: flex;
}
.promo{
  width: 81.25rem;
  height: 18.75rem;
  background-color: #EEEEEE;
  margin-top: 3.125rem;
  margin-left: 18.75rem;
  border-radius: 1.25rem;
  display: flex;
  flex-direction: row;
}
.promo:hover{
  /* background-color: rgb(162, 39, 245); */
  cursor: pointer;
  transform: translateY(-0.625rem);
}
.promo-content{
  height: 18.75rem;
  width: 31.25rem;
  /* background-color: teal; */
  margin-left: 3.6875rem;
  display: flex;
  flex-direction: column;
}
#grab{
  margin-top: 6.25rem;
  font-size: 2.5rem;
  font-family: 'Shantell Sans', cursive;
}
#select{
  font-size: 2.5rem;
  font-family: 'Shantell Sans', cursive;
}
#image-content{
  height: 18.75rem;
  width: 25rem;
  /* background-color: rebeccapurple; */
  margin-left: 15.625rem;
}
#image{
  height: 18.75rem;
  width: 25rem;
}
#image:hover{
  scroll-behavior: initial;
}
.cont{
  width: 100%;
  height: 6.25rem;
  background-color: aliceblue;
  display: flex;
  flex-direction: row;
}
.head{
  border: none;
  color: black;
  background-color: rgb(204, 204, 204);
  margin-left: 2.5rem;
  margin-top: 1.5625rem;
  height: 3.125rem;
  border-radius: 1.875rem;
  font-size: 0.9375rem;
  width: 12.5rem;
  font-family: 'Shantell Sans', cursive;
}
.head:hover{
  transform: translatey(-0.3125rem);
  cursor: pointer;
}
.items{
  border: none;
  color: black;
  background-color: rgb(204, 204, 204);
  margin-left: 2.5rem;
  margin-top: 1.5625rem;
  height: 3.125rem;
  border-radius: 1.875rem;
  font-size: 0.9375rem;
  width: 9.375rem;
  font-family: 'Shantell Sans', cursive;
}
.items:hover{
  transform: translateY(-0.3125rem);
  cursor: pointer;
}
.end{
  width: 6.25rem;
  height: 6.25rem;
  /* background-color: blue; */
  margin-left: 28.125rem;
  display: flex;
  font-family: 'Shantell Sans', cursive;
}
#sort{
  border: 0.1875rem solid black;
  color: black;
  background-color: transparent;
  height: 3.125rem;
  border-radius: 1.875rem;
  font-size: 0.9375rem;
  width: 9.375rem;
  margin-top: 1.5625rem;
  margin-right: 1.25rem;
  font-family: 'Shantell Sans', cursive;
}
#sort:hover{
  transform: translateY(-0.3125rem);
  cursor: pointer;
  background-color: rgb(196, 196, 255);
}

.card{
  width: 100%;
  height: 31.25rem;
  background-color: aliceblue;
  display: flex;
}
.product_card{
  width: 21.875rem;
  height: 28.125rem;
  background-color: aliceblue;
  margin-top: 1.875rem;
  margin-left: 1.875rem;
  border-radius: 1.25rem;
  box-shadow: 0.625rem 0.625rem 0.625rem hsl(0, 0%, 52%);
}
.product_card:hover{
  transform: translateY(-1.25rem);
  cursor: pointer;
}
.image_section{
  width: 21.875rem;
  height: 18.75rem;
  /* background-color: red; */
  border-radius: 1.875rem 1.875rem 0px 0px;
}
#image_headset{
  width: 21.875rem;
  height: 18.125rem;
  border-top-left-radius: 1.875rem;
  border-top-right-radius: 1.875rem;
}
.whole{
  width: 120rem;
  height: 62.5rem;
  background-color: aquamarine;
}
#product_title{
  font-family: 'Shantell Sans', cursive;
  color: rgb(28, 2, 2);
  text-align: center;
  margin-top: 1.25rem;
}

/* button */
.button-51 {
  background-color: transparent;
  border: 1px solid #266DB6;
  box-sizing: border-box;
  color: #00132C;
  font-family: 'Shantell Sans', cursive;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
  padding: 1rem 1.4375rem;
  position: relative;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 9.375rem;
  margin-top: 1rem;

}

.button-51:hover,
.button-51:active {
  outline: 0;
}

.button-51:hover {
  background-color: transparent;
  cursor: pointer;
}

.button-51:before {
  background-color: #D5EDF6;
  content: "";
  height: calc(100% + 0.1875rem);
  position: absolute;
  right: -0.4375rem;
  top: 2px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

.button-51:hover:before {
  background-color: #6DCFF6;
}
